.slider {
  // Labels
  &__label-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  // Numbers
  &__number-container {
    position: relative;
    min-height: 1rem;
    // Indent half the width of the range slider handle either side
    margin: 0 1rem;

    .dir-rtl & {
      .transform(rotateY(180deg));
    }
  }

  &__number,
  &__number-selection,
  &__number-model-answer {
    position: absolute;
    top: 0;
    .transform(translateX(-50%));

    .dir-rtl & {
      .transform(translateX(-50%) rotateY(180deg));
    }
  }

  // Scale
  &__scale-container {
    position: relative;
    height: 1px;
    // Indent half the width of the range slider handle either side
    margin: 0.5rem 1rem 1.5rem;
    background-color: @background;
  }

  &__scale-notch {
    position: absolute;
    top: -5px;
    height: 10px;
    width: 1px;
    .transform(translateX(-50%));
    background-color: @background;
  }

  &__scale-notch-start {
    left: 0;
  }

  &__scale-notch-end {
    left: 100%;
  }

  // Slider bar
  &__item {
    position: relative;
  }

  &__item-input-track,
  &__item-input-fill {
    position: absolute;
    top: 0.625rem;
    left: 0;
    height: 0.375rem;
  }

  &__item-input-track {
    width: 100%;
    background-color: darken(@background-inverted, 20%);
  }

  &__item-input-fill {
    background-color: @background;
  }

  // Slider bar input
  &__item input {
    position: relative;
    width: 100%;
    appearance: none;
    background-color: transparent;

    &:not([disabled]) {
      cursor: pointer;
    }
  }

  &__item input[type=range]::-webkit-slider-thumb {
    .slider-thumb();
    appearance: none;
    margin-top: -1rem;

    .is-disabled & {
      cursor: default;
    }
  }

  &__item input[type=range]::-moz-range-thumb {
    .slider-thumb();

    .is-disabled & {
      cursor: default;
    }
  }

  &__item input[type=range]::-webkit-slider-runnable-track {
    .slider-track();
    appearance: none;
  }

  &__item input[type=range]::-moz-range-track {
    .slider-track();
  }

  // Class to show the correct answers
  &__widget.show-correct-answer &__number-selection {
    .u-display-none;
  }
}

// Slider input thumb mixin
.slider-thumb() {
  height: 2rem;
  width: 2rem;
  background-color: @white;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

// Slider input track mixin
.slider-track() {
  height: 0.375rem;
  width: 100%;
  background-color: transparent;
  box-shadow: none;
}
