.slider {
  // --------------------------------------------------
  // Labels
  // --------------------------------------------------
  &__label-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  // --------------------------------------------------

  // --------------------------------------------------
  // Numbers
  // --------------------------------------------------
  &__number-container {
    position: relative;
    min-height: 1em;
    margin: 0 20px;
    // Indent half the width of the range slider handle either side

    .dir-rtl & {
      .transform(rotateY(180deg));
    }
  }

  &__number,
  &__number-selection,
  &__number-model-answer {
    position: absolute;
    .transform(translateX(-50%));

    .dir-rtl & {
      .transform(translateX(-50%) rotateY(180deg));
    }
  }
  // --------------------------------------------------

  // --------------------------------------------------
  // Scale
  // --------------------------------------------------
  &__scale-container {
    position: relative;
    height: 2px;
    width: calc(~'100% - 40px');
    margin: 0.5em 20px 1.5em;
    // Indent half the width of the range slider handle either side
    background-color: blue;
  }

  &__scale-notch {
    position: absolute;
    top: 0;
    height: 0.75em;
    width: 0.125em;
    .transform(translateX(-50%));
    background-color: red;
  }

  &__scale-notch-start {
    left: 0;
  }

  &__scale-notch-end {
    left: 100%;
  }
  // --------------------------------------------------

  // --------------------------------------------------
  // Slider bar
  // --------------------------------------------------
  &__item {
    position: relative;
  }
  // --------------------------------------------------

  // --------------------------------------------------
  // Class to show whether the users selection is in/correct
  // --------------------------------------------------
  &__widget.show-user-answer.is-correct {
    .slider__number-selection,
    .rangeslider__fill {
      background-color: @validation-success;
    }
  }

  &__widget.show-user-answer.is-incorrect {
    .slider__number-selection,
    .rangeslider__fill {
      background-color: @validation-error;
    }
  }
  // --------------------------------------------------

  // --------------------------------------------------
  // Class to show the correct answers
  // --------------------------------------------------
  &__widget.show-correct-answer {
    .slider__number-model-answer,
    .rangeslider__fill {
      background-color: @validation-success;
    }
  }
  // --------------------------------------------------
}
